<div class="container">
    <p>agregar</p>
    <div class="row">
      <div class="col-sm-6">
        <form>
          <div class="mb3">
            <label class="form-label">Nombre</label>
            <input [(ngModel)]="Modelo.nombre" type="text" class="form-control" name="nombre">
          </div>
  
          <div class="mb3">
            <label class="form-label">descripcion</label>
            <input [(ngModel)]="Modelo.descripcion" type="text" class="form-control" name="descripcion">
          </div>
  
        
          <br>
  
          <div class="mb10">
            <button (click)="modificar()" type="button" class="btn btn-danger">Guardar</button>
          </div>
  
        </form>
      </div>
      <div class="col-sm-6">
        <form>
          
  
         
  
          
  
          
  
        </form>
      </div>
  
    </div>
  
  </div>
  

