<div class="container">
    <p>agregar</p>
    <div class="row">
      <div class="col-sm-6">
        <form>
          <div class="mb3">
            <label class="form-label">id persona</label>
            <input [(ngModel)]="Modelo.id_persona" type="text" class="form-control" name="id_persona">
          </div>
  
          <div class="mb3">
            <label class="form-label">fecha ingreso</label>
            <input [(ngModel)]="Modelo.fecha_ingreso" type="text" class="form-control" name="fecha_ingreso">
          </div>
  
          
  
        
          <br>
  
          <div class="mb10">
            <button (click)="agregar()" type="button" class="btn btn-danger">Guardar</button>
          </div>
  
        </form>
      </div>
      <div class="col-sm-6">
        <form>
          
  
         
  
         
  
         
  
        </form>
      </div>
  
    </div>
  
  </div>
  
