
<div class="container">
    <p>agregar</p>
    <div class="row">
      <div class="col-sm-6">
        <form>
          <div class="mb3">
            <label class="form-label">Nombre</label>
            <input [(ngModel)]="Modelo.nombre" type="text" class="form-control" name="nombre">
          </div>
  
          <div class="mb3">
            <label class="form-label">apellido</label>
            <input [(ngModel)]="Modelo.apellido" type="text" class="form-control" name="apellido">
          </div>
  
          <div class="mb3">
            <label class="form-label">fecha nacimiento</label>
            <input [(ngModel)]="Modelo.fecha_nacimiento" type="text" class="form-control" name="fecha_nacimiento">
          </div>
  
          <div class="mb3">
            <label class="form-label">direccion</label>
            <input [(ngModel)]="Modelo.Direccion" type="text" class="form-control" name="Direccion">
          </div>
          <br>
  
          <div class="mb10">
            <button (click)="modificar()" type="button" class="btn btn-danger">Guardar</button>
          </div>
  
        </form>
      </div>
      <div class="col-sm-6">
        <form>
          
  
         
  
          
  
          
  
        </form>
      </div>
  
    </div>
  
  </div>
  
