<div class="container">
    <p>agregar</p>
    <div class="row">
      <div class="col-sm-6">
        <form>
          <div class="mb3">
            <label class="form-label">id_docente</label>
            <input [(ngModel)]="Modelo.id_docente" type="text" class="form-control" name="id_docente">
          </div>
  
          <div class="mb3">
            <label class="form-label">id_curso</label>
            <input [(ngModel)]="Modelo.id_curso" type="text" class="form-control" name="id_curso">
          </div>
  
          <div class="mb3">
            <label class="form-label">stauts</label>
            <input [(ngModel)]="Modelo.stauts" type="text" class="form-control" name="stauts">
          </div>
  
          <div class="mb3">
            <label class="form-label">fecha_inicio</label>
            <input [(ngModel)]="Modelo.fecha_inicio" type="text" class="form-control" name="fecha_inicio">
          </div>

          <div class="mb3">
            <label class="form-label">fecha_fin</label>
            <input [(ngModel)]="Modelo.fecha_fin" type="text" class="form-control" name="fecha_fin">
          </div>



          <br>
  
          <div class="mb10">
            <button (click)="modificar()" type="button" class="btn btn-danger">Guardar</button>
          </div>
  
        </form>
      </div>
      <div class="col-sm-6">
        <form>
          
  
         
  
          
  
          
  
        </form>
      </div>
  
    </div>
  
  </div>
  

