<!DOCTYPE html>
<html lang="en">

<head>
 
</head>

<body>
  <div class="container">


    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">id_persona</th>
          <th scope="col">fecha_ingreso</th>
          <th scope="col">carnet</th>
          <th scope="col">status</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let modelo of ListarModelos">
          <th>{{modelo.id}}</th>
          <td>{{modelo.id_persona}}</td>
          <td>{{modelo.fecha_ingreso}}</td>
          <td>{{modelo.carnet}}</td>
          <td>{{modelo.status}}</td>
          <td>
           
            <button (click)="modificar(modelo.id)" type="button" class="btn btn-info">Editar</button>
          </td>
          <td>
            <button (click)="eliminar(modelo.id)" type="button" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
   
    <button type="button" class="btn btn-info" (click)="Onnuevo()">AgregarPersona</button>
    <button type="button" class="btn btn-danger" (click)=" Actualizar()">Refrescar Tabla</button>
  </div>

</body>

</html>

