<!DOCTYPE html>
<html lang="en">

<head>
 
</head>

<body>
  <div class="container">


    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">nombre</th>
          <th scope="col">Descipcion</th>
         <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let modelo of ListarModelos">
          <th>{{modelo.id}}</th>
          <td>{{modelo.nombre}}</td>
          <td>{{modelo.descripcion}}</td>
          
          <td>
           
            <button (click)="modificar(modelo.id)" type="button" class="btn btn-info">Editar</button>
          </td>
          <td>
            <button (click)="eliminar(modelo.id)" type="button" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
   
    <button type="button" class="btn btn-info" (click)="Onnuevo()">AgregarPersona</button>

  </div>

</body>

</html>
